/*

    _  _    _____ ___  _____  ______ _____  _____        _____ _________     ___ 
  _| || |_ / ____/ _ \|  __ \|  ____|  __ \|  __ \ /\   |  __ \__   __\ \   / / |
 |_  __  _| |   | | | | |  | | |__  | |__) | |__) /  \  | |__) | | |   \ \_/ /| |
  _| || |_| |   | | | | |  | |  __| |  _  /|  ___/ /\ \ |  _  /  | |    \   / | |
 |_  __  _| |___| |_| | |__| | |____| | \ \| |  / ____ \| | \ \  | |     | |  |_|
   |_||_|  \_____\___/|_____/|______|_|  \_\_| /_/    \_\_|  \_\ |_|     |_|  (_)
                                                                                 

  coderparty v. 0.7 by github user sqrdcat, aka twitter user yatovevo
  please do not steal because that would make you an asshole
  did you know that while in your mother's womb at a certain point in time you were just an asshole?
  stealing my code prooves that some people never develop beyond that stage 

  with that said, please do not remove this piece of ASCII art and the line below it.

*/




body{
background-color: #f4f4f4;
color:green;
text-align: center;
background-image: url('confetti.gif');

}

footer{
  color:gray;
  padding:20px;
}
.tab-pane{
background-color: white !important;
}

.img-circle{
  width:150px;
}

.iconcircle{
  width:50px !important;
}

.col-lg-6{
background-color: white !important;
}

#NICE{
  display: none;
}

#crew{
background-color: white !important;
}

.nav{
  text-align: center !important;
}


#timer{
  font-size: 550%;
}


.centered{
  text-align: center !important;
}

button{
  font-size: 15pt !important;
}


.page-header{
  color:gray;
}
.spec{padding-bottom: 12.5px}
#logo{

  top: -14px;
  position: relative;
}

.submitbutton {
    padding:0;
    font-weight: bolder;

    padding:1em;

    border-color: transparent;
  }

.row{
    padding-left: 0px !important;
    left: 0px !important;
}

.nav{
font-size: 14pt !important;
}

  .submitbutton button::-moz-focus-inner {
    border: 0;
  }

html, body {
  height: 100%;
  margin: 0;
}

form{
	text-align: center;
}
.cont{
	padding:20px;
}

}
input{
	color:black !important;
}



